/* General Text and Alignment */
h3 {
  font-size: var(--label-size);
}

.subtitle-p,
.answer-summary {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: bold;
}

.answer-summary .question-block:first-child {
  margin-top: 0;
}

.answer-summary .question-block:last-of-type::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27500%27 height=%272%27 viewBox=%270 0 500 2%27 fill=%27none%27%3E%3Cpath d=%27M0 1H500%27 stroke=%27%23CCBFA2%27 stroke-dasharray=%278 8%27/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  margin-top: 16px;
}

/* Button Hover Styles */
button:hover {
  /* background-color: var(--surface2); */
}

/* Loading Container */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  font-family: var(--body-font, Arial, sans-serif);
  color: var(--content1, #333029);
}

.loading-logo {
  width: 80px;
  height: 80px;
  animation: fillAnimation 1.5s ease-in-out infinite;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid var(--stroke, #ccbfa2);
  border-top: 3px solid var(--content1, #333029);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  color: var(--content1, #333029);
  margin-left: 16px;
  font-size: 16px;
}

/* Container Layouts */
.outer-container,
.quiz-container,
.score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  gap: 16px;
}

.app-container {
  max-width: 500px;
  padding: 20px;
}

.app-container,
.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Score Card */
.score-card {
  border-radius: var(--r16);
  padding-bottom: 80px;
  gap: 16px;
}

/* Question Block */
.question-block {
  position: relative;
  padding-top: 20px;
}

.question-text {
  color: var(--content1);
  font-family: var(--body-font);
  font-size: var(--label-size);
  text-align: start;
}

.question-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='2' viewBox='0 0 500 2' fill='none'%3E%3Cpath d='M0 1H500' stroke='%23CCBFA2' stroke-dasharray='8 8'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
}

/* Answer Styling */
.answers-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  align-items: flex-start;
  margin-left: 20px;
}

/* Difficulty Tabs */
.difficulty-tabs {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 2px;
  background: var(--surface2);
  border-radius: var(--r16);
  overflow: hidden;
}

.tab {
  flex: 1;
  padding: 8px 16px;
  border: none;
  background: transparent;
  font-family: var(--body-font);
  font-size: var(--body-size);
  cursor: pointer;
  color: var(--content1);
  text-align: center;
  transition: color 0.3s ease;
}

.tab:hover,
.tab.active {
  border-radius: var(--r16);
}

.tab.active {
  background: var(--gradient-bg);
  box-shadow: 0px 2px 8px rgba(179, 167, 142, 0.25);
  color: var(--content1);
}

/* CTA and Lock Button Styles */
.cta,
.lock-button {
  display: flex;
  width: -webkit-fill-available;
  height: 60px;
  padding: 12px 16px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: var(--r16);
  font-family: var(--body-font);
  font-size: var(--label-size);
  font-weight: 400;
  line-height: 140%;
  color: var(--base1);
  background: var(--content1);
  cursor: not-allowed;
  opacity: 0.3;
  transition: opacity 0.3s ease, background 0.3s ease;
}

.cta:not(:disabled),
.lock-button.enabled {
  opacity: 1;
  cursor: pointer;
}

.cta:hover,
.lock-button.enabled:hover {
  background: var(--content2);
}

/* Quiz Header */
.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-header h2 {
  font-size: var(--subtitle-size);
  color: var(--content1);
}

/* Restart Button */
.restart-button {
  display: flex;
  font-size: var(--label-size);
  color: var(--content1);
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  justify-content: flex-end;
}

.restart-icon {
  height: 20px;
  margin-right: 5px;
}

/* Question Counter */
.question-counter {
  display: flex;
  width: 100%;
  color: var(--content1);
  font-family: var(--body-font);
  font-size: var(--body-size);
  line-height: 140%;
  background: var(--surface2);
  padding: 4px;
}

/* Answer Options */
.answer-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.answer-question {
  color: var(--content1, #333029);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 150%;
  text-align: start;
}

.answer-text {
  color: var(--content1, #333029);
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 190%;
  text-align: start;
}

.answer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 300;
  line-height: 140%;
  color: var(--content1);
  background: var(--gradient, linear-gradient(180deg, #FFF 0%, #FFF9EA 100%));
  border: 3px none transparent;
  border-radius: var(--r16);
  box-shadow: var(--box-shadow-elevation1) rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.answer-button.selected {
  border-radius: var(--r16);
  border-color: var(--content1);
  border: 3px solid var(--content1);
  background: var(--gradient, linear-gradient(180deg, #FFF 0%, #FFF9EA 100%));
  padding: 17px;
}

.answer-button:hover {
  background-color: var(--surface1);
}

/* Results Container */
.result-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--base2, #FFFAEF);
  border-radius: var(--r16);
}

.results-container p,
.score-text {
  font-size: var(--subtitle-size);
  color: var(--content1, #333029);
  text-align: center;
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 140%;
}

.results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.correct {
  color: var(--correct);
  font-weight: bold;
  margin-left: -28px;
  display: flex;
  align-items: center;
}

.correct::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("./assets/icon-check.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.incorrect {
  color: var(--incorrect);
  text-decoration: line-through;
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background: var(--surface2, #F5E5C3);
  padding: 8px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 485px;
  width: 100%;
  padding: 0 20px;
}

.footer-text {
  color: var(--content1, #333029);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; 
  text-decoration: none;
  color: black;
}

.social-icons {
  display: flex;
  gap: 16px; 
}

.social-icons img {
  height: 24px;
  width: 24px;
}

.social-icons a {
  line-height: normal;
  
}

.footer-text a {
  color: black;
  text-decoration: underline;
}